.addressForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.subHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.Attributes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.mt-5 {
  height: 5vh;
}

.tipjar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.coffee {
  width: 20px;
  height: 20px;
  fill: solid white;
}
